:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #53f253;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}





h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
}

svg {
  width: 1.3rem;
}

form {
  /* display: flex; */
  /* flex-direction: column; */
  width: fit-content;
}

.red {
  color: red;
  cursor: pointer;
}

.green {
  color: greenyellow;
  cursor: pointer;
}



.modal-bg {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-1 {
  position: fixed;
  background-color: #1a1a1a;
  opacity: 70%;
  width: 100vw;
  height: 100%;
}

.modal-body {
  z-index: 6;

}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background: blue;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  background: #000;

  gap: 10rem;
}

.intro {
  width: 50rem;
  height: 20rem;
  border-style: ridge;
  position: absolute;
  top: 40%;
  left: 10%;
}

.new-list {
  border-style: dashed;
  width: fit-content;
  padding: 2rem;
}
.master-list{
  border-style: dashed;
  padding: 2rem;

}
/* /APP */
.list-container {
  background: #eeaaaa;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 5rem;
}

.list-card {
  background-color: #bd5555;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add drop shadow */
  transition: transform 0.3s ease;
  /* Add smooth transition */
  cursor: pointer;
  overflow: hidden;
  padding: 1rem ;
  /* Ensure shadows are visible */
}

.list-card:hover {
  transform: translateY(-4px);
  /* Move card up slightly on hover */
}
.card-title{
  text-transform: capitalize;
}

.main-container{
  margin-left: 12rem;
  margin-top: 4rem;
}

svg {
  cursor: pointer;
}

.list-option-container{
  display: flex;
  gap: 2rem;
  
}

.flex{
  display: flex;
  flex-direction: column;
}

.random-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.quote-text{
  margin: 0;
}
.quote-author{
  font-size: x-large;
  margin: 0;
  margin-left: 8rem;
}
.rand-button{
  font-size: medium;
  padding-top: 1rem;
}
.title{
  text-align: center;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.back{
  position: absolute;
  top: 20%;
  left: 3%;
}
.back svg{
  width: 4rem;
} 